<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a href="{% url 'home' %}"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"><h5>
            🅸🆃-🅺🆄🅱
</h5></a>
        <h5 class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
            УЧЕБНЫЙ ЦЕНТР
        </h5>


        </ul>
        {% if request.user.is_authenticated and user.is_superuser %}
                <li class="last">{{user.username}} | <a href="{% url 'my' %}">Заявки</a> | <a href="{% url 'logout' %}">Выйти</a>
        </li>

        {% elif request.user.is_authenticated %}
        <li class="last">{{user.username}} | <a href="{% url 'my' %}">Поступление</a> | <a href="{% url 'logout' %}">Выйти</a>
        </li>
        {% else %}
        <div class="col-md-3 text-end">
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-outline-primary me-2">
                    <ya-tr-span data-index="17-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Login" data-translation="Вход" data-ch="0" data-type="trSpan">Вход
                    </ya-tr-span>
                </button>
            </a>
            <a href="{% url 'register' %}">
                <button type="button" class="btn btn-primary">
                    <ya-tr-span data-index="17-1" data-translated="true" data-source-lang="en" data-target-lang="ru"
                                data-value="Sign-up" data-translation="Регистрация" data-ch="0" data-type="trSpan"
                                data-selected="false">Регистрация
                    </ya-tr-span>
                </button>
            </a></div>
        {% endif %}

    </header>
    {% block content%}{% endblock %}
</div>
</body>
</html>

